#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.header {
    margin-bottom: 4em;
}

.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #2196f3;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.h3-checked {
    color: #2196f3;
    transition: color 300ms;
}

.logo {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 2em;
    margin: 2em;
    border-radius: 0.7em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.47);
    background-color: rgba(255, 255, 255, 0);
}

.card:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.87);
    transform: scale(1.02);
    transition: box-shadow 300ms, transform 300ms, color 300ms;
    cursor: pointer;
    color: #a6d3ff;
}

.icon {
    width: 200px;
}

@media (max-width: 700px) {
    .header {
        margin-bottom: 1em;
    }

    .card {
        margin: 1em;
        padding: 1em;
    }
}